.pokemon__card-container {
    padding: .5rem;
    border-radius: .5rem;
    width: 250px;
}

.pokemon__card {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #9F9F9F;
    border-radius: .5rem;
    box-shadow: -10px -10px 15px #3a3a3a17, 10px 10px 15px rgb(66 66 66 / 35%);
}

.pokemon__card-info {
    border-radius: 0rem 0rem .5rem .5rem;
    text-transform: capitalize;
    background: url(../../assets/body_bg.png);
    padding: 1rem;
}

.pokemon__card-info h2 {
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    padding-top: 1.5rem;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.pokemon__types-container {
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.pokemon__types {
    width: 40%;
    text-align: center;
    padding: .2rem;
    text-transform: capitalize;
    color: white;
    font-weight: 700;
    border-radius: .2rem;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pokemon__card-header {
    width: 100%;
    height: 8rem;
}

.pokemon__card-img {
    width: 100%;
    height: 60%;
    position: absolute;
    transition: transform 0.5s ease;
}

.pokemon__card-img:hover {
    transform: scaleX(-1);
}

.pokemon__stats {
    display: flex;
    padding: 1rem .2rem 0rem .2rem;
    width: 100%;
    gap: .7rem;
    justify-content: center;
}

.pokemon__stats-icons {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: .1rem;
    transition: transform 5ms ease;
}

.pokemon__stats-icons:hover {
    transform: scale(1.1);
    color: black;
}

.pokemon__loading img {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* transform: rotate(360deg); */
    /* animation: spin 2s linear infinite; */
}

/* @keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */